# Tệp EditorConfig hàng đầu, editor sẽ không tìm kiếm ở các thư mục cha nữa
root = true

# Áp dụng cho tất cả các tệp
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Quy tắc riêng cho các tệp JavaScript, JSX, TypeScript và TSX
[*.{js,jsx,ts,tsx}]
indent_style = space
indent_size = 2

# Quy tắc cho các tệp JSON và Markdown
[*.{json,md}]
trim_trailing_whitespace = false
