{
  "APP_ENV": "local",
  "API_URL": "http://10.0.2.2:5000",
  "API_VERSION": "v1",
  "API_URL_PRODUCTION": "https://api.yourdomain.com",
  "WS_URL": "ws://10.0.2.2:5000",
  "GOOGLE_MAPS_API_KEY": "YOUR_GOOGLE_MAPS_API_KEY_HERE",
  "FIREBASE_PROJECT_NUMBER": "FIREBASE_PROJECT_NUMBER",
  "FIREBASE_PROJECT_ID": "FIREBASE_PROJECT_ID",
  "FIREBASE_STORAGE_BUCKET": "FIREBASE_STORAGE_BUCKET",
  "FIREBASE_APP_ID": "FIREBASE_APP_ID",
  "FIREBASE_PACKAGE_NAME": "FIREBASE_PACKAGE_NAME",
  "FIREBASE_CLIENT_ID_1": "FIREBASE_CLIENT_ID_1",
  "FIREBASE_CLIENT_ID_2": "FIREBASE_CLIENT_ID_2",
  "FIREBASE_CLIENT_ID_3": "FIREBASE_CLIENT_ID_3",
  "FIREBASE_API_KEY": "FIREBASE_API_KEY",
  "FIREBASE_CERT_HASH_1": "FIREBASE_CERT_HASH_1",
  "FIREBASE_CERT_HASH_2": "FIREBASE_CERT_HASH_2"
}
